html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: Arial, serif;
}

.depression {
  text-align: center;
  font-size: 2.5rem;
  padding: 4%;
}

.depression-amount {
  font-size: 4.5rem;
  font-weight: bold;
}

.stuff-container {
  text-align: center;
  margin: auto;
}

.button {
  width: 13rem;
  height: 5rem;
  vertical-align: top;
  border: 0.2rem solid green;
  border-radius: 1rem;
  margin: 1rem auto;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button--stuff {
  color: white;
  background-color: grey;
}

.button--stuff:hover {
  background-color: #7d9776;
}

.button--prestige {
  color: black;
  background-color: #dddddd;
}

.button--prestige:hover {
  background-color: #8db1dd;
}
